# Start the mule container
docker run --net {{params.environment.type}}-muleNetwork --ip 172.19.{{params.environment.number}}.2 -v {{params.core.clusterPath}}mule/apps:/home/muleindocker/mule/apps -v {{params.core.clusterPath}}mule/logs:/home/muleindocker/mule/logs -dti --name {{params.environment.type}}-muleContainer {{params.environment.type}}-muleindocker/mule:latest

# Start the maven container
docker run --net {{params.environment.type}}-muleNetwork --ip 172.19.{{params.environment.number}}.3 -v {{params.core.clusterPath}}maven/sourceCode:/usr/src -dti --name {{params.environment.type}}-mavenContainer {{params.environment.type}}-muleindocker/maven:latest mvn clean install
