#!/bin/bash

cd $(dirname "$0")

{% for app in start_stop_all_applications|reverse %}
docker-compose -f ./docker-compose-{{ app }}.yml stop && echo y | docker-compose -f ./docker-compose-{{ app }}.yml rm
{% endfor %}
